body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: system-ui;
}

drawing-pixel {
  /* aspect-ratio: 1/1; */
  border: 1px solid rgba(0, 0, 0, 0.01);
  user-select: none;
}
drawing-container {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(var(--columns), 1fr);
  user-select: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: var(--bgColour);
  /* grid-template-rows: repeat(var(--rows), 1fr); */
}
input {
  padding: 1rem;
}
input[type="checkbox"] {
  height: 1rem;
  width: 1rem;
}
.btn {
  padding: 0.85rem 2.25rem;
  border: none;
  border-radius: 28px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}
.btn--primary {
  background-color: hsl(210, 38%, 40%);
  color: white;
}
.btn--outlined {
  background-color: transparent;
  border: 1px solid hsl(210, 15%, 40%);
}
.entered {
  background-color: var(--pixelColour, black);
}
.size {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.size__inputs {
  display: flex;
  flex-direction: column;
}
